* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container-fluid {
    width: 94%;
    margin: auto;
  }
  .d-flex {
    display: flex;
  }
  .space-between {
    justify-content: space-between
  }
  a {
    text-decoration: none;
    font-size: 1.6rem;
  }

/* CSS for header */
header {
  background: #F1F7FD !important;
  padding: 20px;
  position: sticky;
  top: 0;
}
.logo img {
  height: 38px;
  display: inline !important;
}
.logo img:hover{
  background: rgba(255,255,255,0.05);
	-o-transform: scale(0.93);
	-webkit-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
}
@media (max-width: 600px) {
  .logo img{
    display: inline-flex;
    margin-top: 2%;
  }
}

/* CSS for btn */
.btn{
  margin-top: 3px;
  }

@media (max-width: 600px) {
  .btn{
  margin-top: 3px;
  }
}
.btn-registers {
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  color:#252525;
}
.btn-register{
  color: #F1F7FD;
  background-color: #145889;
  padding: 10px;
  font-size: 15px;
  border-radius: 50px;
}
.btn-registers:hover
 {
  color: #117EC3;
}
.btn-register:hover{
  color: #5bee3e;
}

@media (max-width: 600px) {
.btn-registers {
 display: none;
 }
}

@media (max-width: 600px) {
  .btn-register {
  font-size: 14px;
  padding: 10px;
  display: inline-flex;
  position: relative;
  border-radius: 50px;
  background-color: #67b4eb;
  }
}

/* CSS for TJC-info  */
.TJC-info  {
  padding: 1.5rem;
  background-color: #fafafa !important;
  bottom: 0;
  /* background-color: #f1efe9; */
}
h3 {
  font-size: 1.38rem;
  color: #145889;
}
.TJC-info h4{
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .TJC-info  {
    padding: 3.5rem;
    background-color: transparent !important;
    padding-top: 10%;
    /* background-color: #f1efe9; */
  }
  h3 {
    font-size: 2rem;
    color: #145889;
    margin-left: 5%;
    margin-right: 5%;
  }
  .TJC-info h4{
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.TJC-info input
 {
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
  margin-top: 5px;
  border: 1px solid #145889;
  border-radius: 4px;
  bottom: 0;
}
.TJC-info label {
  font-size: 1.6rem;
  display: inline-block;
}

  /* CSS for row */   

  .row-1 {
    padding-top: 5%;
    width: 10%;
  }
  .row-1 p,
  .row-2 p {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .row-2{
    padding: 5%;
    width: 30%;
  }
  .row-3{
    padding: 5%;
    width: 30%;
  }
  .row-3 input{
    background-color: #145889;
    color: #fff;
    transition: transform .2s;
  }
  .row-3 input:hover{
    transform: scale(1.3);
  }

  @media (max-width: 600px) {
    .row{
      margin-right: 5%;
      margin-left: 5%;
      font-weight: 800;
      padding-top: 10%;
    }
    .row-1 {
      width: 40%;
      padding: 1%;
    }
    .row-1 p,
    .row-2 p {
      font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 15px;
      font-weight: 800;
      text-transform: uppercase;
  }
    .row-2 ,
    .row-3{
      padding: 1%;
      width: 30%;
    }
    .row-3 input{
      background-color: #145889;
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      transition: transform .2s;
    }
    .row-3 input:hover{
      transform: scale(1.1);
    }
  }

  /* CSS for hr */
  hr.style13 { 
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
  border: 0;
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/* CSS for contents header */
  h5 {
    font-size: 2.5rem;
    color: #145889;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
  .section-newsletter {
    background: #001b42;
    padding: 4rem 0;
    text-align: center;
    color: #fff;
  }
  .section-newsletter p {
    margin-top: 1rem;
  }
  .form-wrapper {
    width: 60%;
    margin: 4rem auto;
  }
  form {
    display: flex;
  }
  form button {
    border: 1px solid #fff;
  }

  @media screen and (min-width: 601px) and (max-width: 1000px) {
   
  }

  /* /* CSS for Contents Header */
.contents {
  max-width: 100%;
  vertical-align: middle;
}

.contents .contentsHeader {
    margin-top: 10px;
    width: 94%;
    margin: auto;
}

.contents .contentsHeader p {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

/* /* CSS for Contents Body */
.contents .body .eventInfo {
    width: 900px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px auto 8px auto;
    margin-top: 1rem;
    padding: 20px;
    font-size: 14px;
}
@media (max-width: 600px) {
  .contents .body .eventInfo {
    width: 520px;
  }
}

/* CSS for footer */
.footer-basic {
  margin-top: 3rem;
  padding:40px 0;
  background: #394551 !important;
  color:#ffff;
}
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:14px;
  line-height:1.6;
  margin-bottom:0;
}
.footer-basic li {
  padding:0 10px;
}
.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-size: 14px;
}
.footer-basic ul a:hover {
  opacity:1;
}
.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
